<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
</head>
<body style='display: flex; flex-direction:column;align-items: center; justify-content:center ; border: 5px solid rgb(73, 36, 107); padding: 30px; margin: 200px;'>
    <h1>Pagina Principal</h1>
    <div style="display: flex; flex-direction: column;">
        <P style="background-color: rgb(175, 142, 206); font-size: 20px;padding: 15px;border-radius: 20px;"> <a style="color: black;" href="/cadastrouser" target="_blank">Cadastro de Usuário</a></P>
        <p style="background-color: rgb(175, 142, 206); font-size: 20px;padding: 15px;border-radius: 20px;"> <a style="color: black;" href="/cadastrotarefas" target="_blank">Cadastro de Tarefas</a></p>
        <p style="background-color: rgb(175, 142, 206); font-size: 20px;padding: 15px;border-radius: 20px;"> <a style="color: black;" href="/cadastroprojetos" target="_blank">Cadastro de Projetos</a></p>
    </div>
</body>
</html>
