<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>{{title}}</title>
</head>
<body id="login" style='display: flex; flex-direction:column;align-items: center; justify-content:center ; border-color: black; border: 5px solid; padding: 30px; margin: 200px;'>
    <h1>{{heading}}</h1>
    <p>{{content}}</p>
    <div >
        <form style="display: flex; flex-direction: column;">
            <label style="font-weight: bold" for="usuario"> Usuário</label>
            <input type="text">
            <label style="font-weight: bold" for="senha">Senha</label>
            <input type="password">
            <br>
            <button style="border-radius: 50px;  font-weight: bold;"> <a href="/home">Entrar</a> </button>
        </form>
    </div>
</body>
</html>

